header{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(bg.jpg);
    background-position: center;
    background-size: cover;
}
header>nav{
    background-color: rgba(9, 13, 26, 0.6);
}
header>nav a{
    color: rgb(255, 255, 255);
}
header>section{
    padding: 150px 0px;
    text-align: center;
    color: white;
}
header>section>hr{
    border: .5px solid rgb(194, 194, 194);
    width: 150px;
}
hr{
    width: 180px;
    border: 1px solid rgb(138, 138, 138);
}
button{
    margin: 0 5px;
    padding:5px 10px;
}
.c-button1{
    background-color: aqua;
    color: white;
    font-weight: bold;
    border:none;
    padding-top: 8px;
    padding-bottom: 8px;
}
.c-button2{
    background: transparent;
    color: white;
    font-weight: bold;
    border: 2px solid white;
}
h6{
    border-bottom: 1px solid white;
    line-height: 250%;
}
h1,h2,h3,h4,h5{
    text-transform: uppercase;
}
#c-gallery img{
    transition: 1s;
    margin: 5px;
    height: 150px;
}
#c-gallery img:hover{
    transform: scale(1.2);
}
.card{
    padding: 60px 40px;
}
.card h3{
    box-shadow: 1px 1px 2px 2px rgb(138, 138, 138);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 13%;
    margin: auto;
}
.card h5{
    margin: 30px 0;
}
.card span{
    font-size: 12px;
}
footer{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px;
}
#c-topButton{
    height: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}